.idea/*
data-structures-and-algorithms.iml
out/*
.gitignore
*.xml
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/gradle.xm
/.gradle/
/.idea/
/build/
app/build/
.gitattributes
app/build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
