<!doctype html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<!-- fragments/user-info-fragment.html -->
<div th:fragment="user-info" th:if="${applicationUser != null}">
  <h3>
    <span th:text="${'Current user: ' + applicationUser.username }"></span>
    <span th:text="${'First Name: ' + applicationUser.firstName }"></span>
    <span th:text="${'Last Name: ' + applicationUser.lastName }"></span>
    <span th:text="${'Date of Birth: ' + applicationUser.dateOfBirth }"></span>
    <span th:text="${'Bio : ' + applicationUser.bio }"></span>
  </h3>
</div>


</body>
</html>