<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        h1 {
            color: #ff5733; /* Choose a color you like */
        }

        .error-message {
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Error</h1>
<span th:if="${exception}" th:text="${message}" class="error-message"></span>
</body>
</html>
